{% extends "base.html" %}

{% block content %}

<body>
<div id="overDiv" style="position:absolute; visibility:hide;z-index:1;"></div>

  <table border=0 width=549>
    <tr> 
      <td> <br>
        <CENTER>
          <H2>FRENCH REVOLUTION PAMPHLET PROJECT<br>
            Production Path Handbook</H2>
          <HR width=70%>
        </CENTER>
        </font> 
        <p><br>
          <a name="path"></a>Below 
          is an outline of the production path, from start to finish. The detailed 
          sections contain various remarks pertaining to considerations and decisions, 
          time frames, misc. notes, shortcuts, and processes.</p>
        <ul>
          <li><b>Project Appraisal</b></li>
          <li><b>Text Selection</b></li>
          <li><b><a href="#capture">Capture 
            image</a> </b></li>
          <li><b><a href="#jewel">Jewel 
            Case Creation</a></b></li>
          <li><b><a href="#cdprodn">CD 
            production</a> </b></li>
          <li><b><a href="#ocr">OCR</a></b></li>
          <li><b><a href="#jpg">Create 
            jpg images</a> </b></li>
          <li><b><a href="#proof">Proofing</a></b></li>
          <li><b><a href="#mark">Markup</a></b></li>
          <li><b><a href="#display">Display 
            processing</a></b></li>
          <li><a href="#web"><b>Web 
            interface</b></a></li>
          <li><a href="#catalog"><b>Cataloging 
            and links</b></a></li>
          <li><b>Publicity</a></b></li>
          <li><a href="#pedag"><b>Pedagogical 
            considerations</b></a><b> 
            </b></li>
          <li><b><a href="#report">Final 
            Report</a></b></li>
        </ul>
        <p><br>
          ** Caveat on times. These are very approximate. Variations in the quality 
          of the text and computer situations (crashes, etc.) greatly affect the 
          time spent on any given document. Also, these times do not reflect the 
          learning curve necessary for each part of the process. This includes 
          some degree of technical proficiency in: </p>
        <p>Operating Systems: PC, Mac, 
          Unix, Linux <br>
          General Apps.: MS Word, Web Browsers, EndNote <br>
          Specialized Apps.: Digital Camera and PhaseOne software, Fetch, Adobe 
          Photoshop, Telnet, Adaptec Jewel Case Creator, X11, Adaptec Toast (CD 
          burn), XEmacs, OmniPage, Dreamweaver <br>
          <br>
          <b><a name="capture"></a>Capture Image</b><br>
          Time involved: The PhaseOne Digital camera usually requires at least 
          1/2 hour of initial preparation settings. After this period, the time 
          per page rate can vary depending on whether you can do two pages at 
          once or if you have to do one page at a time, the quality of the page 
          (focusing can be difficult, especially with warped pages or pages where 
          the text is too close to the binding), whether or not you have to refocus 
          (if the text is long, the focal distance changes), and how long it takes 
          you to resituate the text and refocus to do the verso pages (if you're 
          doing a text one page at a time)</p>
        <p>Notes:<br>
          -- Book should face wall on the right in order that you don't have to 
          inverse the image in Photoshop.<br>
          -- Keep a record of all the camera and scanner settings: height, f-stop, 
          shutter speed, med. reolut...<br>
          -- Numbering conventions: 
          use "00" for page including color bar; use 01-... so the images list 
          in order in folders; if text has roman numerals at beginning, use 001and 
          then use 010 as page one, 020 as page 2 and so on.<br>
          -- On first page: Include Color Bar & label (Emory University; Woodruff 
          Library Special Collections; French Revolutionary Pamphlets; Call #, 
          Vol. #, Pamph. #)<br>
          -- Rescan 1st page without above info <br>
          -- Either scan 2 pages at a time, or scan recto pages, then verso<br>
          -- Save as PC-byte Tiff images </p>
        <p align="center"><a href="#path">Return 
          to Outline</a></p>
        <p><b><a name="jewel"></a>Jewel 
          Case Creation</b><br>
          Time involved: Jewel case creation can be finicky. The initial design 
          template can take some time, but after that it takes perhaps 10 minutes 
          per case. </p>
        <p>Notes:<br>
          -- Make jewel cases (2 for each pamphlet: ... copy 1, ... copy 2)<br>
          -- Make one text file with all relevant info to doc. and digitization 
          process </p>
        <p align="center"><a href="#path">Return 
          to Outline</a></p>
        <p><b><a name="cdprodn"></a>CD 
          production</b><br>
          Time involved: One full CD takes about 20 minutes to burn. But for my 
          project I burned a working copy and two master archival copies (the 
          number of CDs also depends upon whether the images contain one or two 
          pages and upon the total number of pages in the text).  26 or 27 files 
          (at 24.5 mb per/image) will fit on a single CD (with room left over 
          for the txt, .jwl, and .jpg files, see below) </p>
        <p>Notes:<br>
          Burn CDs: two copies of each pamphlet<br>
          -- Include: image files (.tifs), txt file, jewel case file, jewel case 
          image file (.jpg). <br>
          -- Under data-tabs: choose Jouet; don't choose XA <br>
          -- Burn as 1S09660 <br>
          -- Label CDs only around center using a Sharpie </p>
        <p align="center"><a href="#path">Return 
          to Outline</a></p>
        <p><b><a name="ocr"></a>OCR</b><br>
          Time involved: To Scan and OCR 10 pages of text, ending up with a Microsoft 
          Word document, takes approximately minutes. </p>
        <p>Notes:<br>
          -- Settings: French language, plain txt, single column <br>
          -- You can load 10-20 
          pages at a time into OmniPage; then manually draw the text zones to 
          OCR scan<br>
          -- Then you can hit the Auto123 button to process all of the pages at 
          once <br>
          -- Save as "ACSI txt with line breaks"</p>
        <p align="center"><a href="#path">Return 
          to Outline</a><br>
          </p>
        <p><b><a name="jpg"></a>JPG 
          images</b><br>
          Time involved: To convert the 10 tiff images into jpgs takes approximately 
          minutes. On this project we decided not to take the time to crop the 
          images, thus the image includes the book cradle apparatus, etc. These 
          page images are available alongside the digital version & they are also 
          useful during the proofreading process </p>
        <p>Notes:<br>
          -- Use Photoshop's batch-function to make jpgs from the tiffs<br>
          1. Choose Window&gt;Show Actions in order to display the Actions palette<br>
          2. Choose Create New Action (small icon on bottom-right of Actions palette) 
          and give it a name<br>
          3. Hit Record button<br>
          4. Click through your steps then hit Stop button (you can rearrange 
          the order by drag/drop)<br>
          5. Then to Batch: Choose File&gt;Automate&gt;Batch<br>
          6. Choose the Set, Action, Source and Destination</p>
        <p align="center"><a href="#path">Return 
          to Outline</a></p>
        <p><b><a name="proof"></a>Proofing</b><br>
          -- Use .jpgs (although may need recourse to tif images if parts of the 
          text are really unclear) </p>
        <p><b><a name="mark"></a>Markup<br>
          </b> See <a href="http://chaucer.library.emory.edu/tagguide.html">Tagging 
          Guidelines</a> (link on main Beck Ctr. webpage)</p>
        <p>Notes: <br>
          -- Rebecca has made a replace-accents script which you can find in the 
          mkazanj home folder on Alfonso </p>
        <p><b><a name="display"></a>Display 
          processing</b> <br>
          Notes:<br>
          -- the mkazanj home 
          folder has an alias which allows the parse command to function<br>
          -- Follow this order:<br>
          1. Until we move to 
          xml and are able to show the page images, comment out the images at 
          the very end of the 
          document (<,bang,dash,dash,space xxxxxxxxxx space,dash,dash,>) <br>
          2. Enter entity names: add image filenames to list in entitymap.sgml 
          (in Revolution /Index) & to tei2drama.dtd (in Chaucer/data/dtd) <br>
          3. parse and fix errors<br>
          4. Build:<br>
          a. ssh to the Index folder, cmd = Build Revolution (the build cmd only 
          functions from this folder)<br>
          b. if the cmd can't recognize a file, change permissions = chmod 664 
          space *<br>
          or use the filename instead of the * (or 775)<br>
          sudo -u filename chmod 775 filenam</p>
        <p align="center"><a href="#path">Return 
          to Outline</a></p>
        <p><b><a name="web"></a>Web 
          interface</b><br>
          -- Web design by Katherine Ellison<br>
          -- Produce Search and Browse functions<br>
          -- Figure out and Incorporate 
          User and Referer Stats<b><br>
          </b>-- Mouseover Footnotes on the Overview page: See <a href="http://www.bosrup.com/web/overlib/">Eric 
          Bosrup's Java script site</a>. All single and double quotes must be 
          coded, and the text of the footnote must be one long text-string (no 
          hard returns). The two java library files must be in the same directory 
          as the html file. Make sure to remember to put the 2-line Script info 
          just after the &lt;body&gt; tag.</p>
        <p><b><a name="catalog"></a>Cataloging 
          and Links</b><br>
          -- Get links to site on main Beck Ctr. page and on main Special Collections 
          page<br>
          -- Get Euclid records made for the texts which have been digitized<br>
          -- Get RLIN records made (make 
          individual records for the digitized texts available to OCLC/RLIN as 
          a way of preventing other libraries from duplicating our efforts)</p>
        <p><b><a name="publicity"></a>Publicity</b><br>
          Contact and announce existence of site to: <br>
          -- Special Collections <br>
          -- Woodruff Library<br>
          -- University PR people<br>
          -- Judith Miller in History Department<br>
          -- HLists and Balzac-list <br>
          -- Gallica: if we list them, will they list us?<br>
          -- Mark at Chicago<br>
          -- Get site non-profit registered with Search Engine sites </p>
        <p align="center"><a href="#path">Return 
          to Outline</a></p>
        <p align="left"><a name="pedag"></a><b>Pedagogical 
          considerations</b><br>
          -- Contact Kavanagh <br>
          -- Contact Judith Miller <br>
          -- Contact Stephen Biek </p>
        <p><b><a name="report"></a>Final 
          Report</b><br>
          -- This document (...Handbook), Tagging Guidelines, handout flyer for 
          use in Special Collections</p>
        <p>&nbsp;</p>
        <p align="center"><a href="#path">Return 
          to Outline</a></p>
        <p><br>
          </p>
        </td>
</tr>
</table>

</center>
</body>

{% endblock %}